.needle-wrapper {
  transform-style: preserve-3d;
  transform: rotateX(80deg) rotateY(-44deg) translate(-11px, 2px);
  @apply absolute left-1/2 z-40 w-[40px] h-[20px] bg-gray;
}

.needle-wrapper > span {
  @apply absolute w-12 h-6 bg-[#3b3b3b];
}

.box-right {
  transform: rotateY(0deg) translateZ(20px);
}

span.box-left {
  transform: rotateX(0deg);
}

span.box-front {
  width: 20px;
  transform: rotateY(90deg) rotateX(0deg) translateX(-10px) translateZ(-10px);
}

span.box-back {
  width: 20px;
  transform: rotateY(90deg) rotateX(0deg) translateX(-10px) translateZ(37px);
}

span.box-bottom {
  height: 20px;
  transform-origin: 0% 0%;
  transform: rotateX(90deg);
}

span.box-top {
  height: 20px;
  transform-origin: 0% 0%;
  transform: rotateX(90deg) translateZ(-24px);
}

.handle-needle {
  position: absolute;
  right: 0px;
  border: 15px solid #00000000;
  border-bottom-color: #0000;
  width: -1px;
  height: 0px;
  top: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0%;
  box-shadow: -5px -5px 0px 5px #000;
  transform-origin: 17% -72%;
  transform: rotateX(90deg) rotateY(180deg) translateZ(28px);
}

.needle {
  width: 5px;
  height: 30px;
  background: #999999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-animation: move 5s infinite;
  transform: rotateY(0) translate(37px, -10px) translateZ(8px);
  transform-origin: bottom;
  transform-style: preserve-3d;
}
