

#parent-covers {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}


.swiper {
  @apply h-screen;
}

.swiper-slide:not(.slide-active) {
  max-height: 130px
}

.carousel-item {
  overflow: hidden;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  perspective: 100px;
}

.carousel-item span {
  transform: translate3d(10px, -107px, -26px) rotateX(15deg);
}

.swiper-slide-active {
  z-index: 9999 !important;
  position: relative;
}
.swiper-slide-active .carousel-item{
  transform: scale(1.1);
  z-index: 999;
}
.swiper-slide-active .carousel-item span {
  transform: translate3d(0px, 0px, 1px) rotateX(0deg);

}