.carousel {
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;

  @apply h-full top-0 overflow-hidden absolute;
}

.carousel-inner {
  @apply  absolute pointer-events-none w-full;
}

.carousel-center-item {
  @apply bg-orange-dark text-white;
}