.carousel-item {
  width: 328px;
  height: 241px;
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
  @apply flex flex-col justify-center content-center absolute   outline-2 outline-brown cursor-pointer;
}

#parent-covers {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
