.results-bg {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 9;
}

.results-bg.album-opened {
  opacity: 1;
  visibility: visible;
}

#result-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.swiper-slide-active .carousel-item span > img {
  animation: backForwardVinylCover 0.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

.swiper-slide-active .load-album {
  @apply opacity-100 visible;
}

.swiper-slide-active .vinyl-wrapper {
  animation: showVinyl 0.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

.vinyl-wrapper {
  position: absolute;
  top: 0;
  transform: scale(0.88);
}

.load-album {
  @apply absolute z-20 
  invisible
  opacity-0
  bg-white bg-opacity-30 
  shadow-white shadow-md 
  text-white 
  rounded-xl
  backdrop-blur-sm
  border-2
  border-white
  border-opacity-80  
  hover:bg-opacity-80
  hover:bg-yellow
  hover:scale-105
  hover:text-white
  hover:shadow-sm
  active:opacity-90
  transition-ease-in-renato
  p-3 
   top-1/2 
   left-1/2 
   -translate-x-1/2 
   -translate-y-1/2;
}

.carousel-item.album-choosed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  width: 100%;
}

@keyframes backForwardVinylCover {
  100% {
    transform: translateX(-10px);
  }
}

@keyframes showVinyl {
  100% {
    transition-delay: 1000;
    transform: translateX(120px) rotate(-180deg) scale(0.88);
  }
}
