.input-search-wrapper {
  position: relative;
}

.search-component-wrapper {
  position: absolute;
  left: 50%;
  width: 90%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1); /* easeOutQuint */
}

.short-search {
  top: 3%;
  transform: translateX(-50%) translateY(0%);
  width: 40%;
}

.short-search input {
  border-radius: 25px;
}

